<h1 class="centered">Dashboard</h1>

<div id="welcome">
  <h2 id="message">Welcome to the Inventory System</h2>
  <p>You have <%= SalesItem.countitems %> items defined in your system.</p>  <!--Call class method by 'classname.methodname'-->
  <p>The <span id="average" class="average">average</span> price of a sales item is <%=number_to_currency(number_with_precision(SalesItem.averageprice, :precision => 2))%>.</p>
</div>
<div id="hover" class="hover"><p id="font">The average is the sum divided by the count.</p></div>