// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.centered {
  color: #006400;
  text-decoration: underline;
  text-align:center;
}

div#welcome {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #00F;
  width: 40%;
  padding: 10px;
}

span.average {
  font-weight: bold;
  color: #00F;
  text-decoration: underline;
}

div.hover{
  color: #008000;
  position:absolute;
  left:34%;
  display:none;
}

p#font{
  font-size:14pt;
}