<!DOCTYPE html>
<html>
<head>
  <title>JavscriptIntro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <h1>Inventory Manager</h1>
  <%= link_to "Dashboard", dashboard_welcome_path %>
  <%= link_to "Sales Items",sales_items_path %>
  <%= link_to "Categories", categories_path %>
</div>
<%= yield %>

</body>
</html>
